################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UNHCR.Geolocation
/.vs
/UNHCR.GeolocationTests/bin
/UNHCR.GeolocationTests/obj
