<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://msawe-primes-selfservice-dev-geofence.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f31388ca-316c-4049-bbaa-f23188b105e4/resourceGroups/msawe-primes-selfservice-dev-rg/providers/Microsoft.Web/sites/msawe-primes-selfservice-dev-geofence</ResourceId>
    <UserName>$msawe-primes-selfservice-dev-geofence</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://msawe-primes-selfservice-dev-geofence.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>